
<template name="clientDebuggerPopup">
	<div class="client-db-container">
		<div class="client-db-content">
			<div>
				<a href = "#" class="btn client-db-btn-view"> Debugger </a>
			</div>

			<div class="client-db-popup">
				<div>
					<a class="client-db-btn client-db-tracker"> Start Tracking</a>
					<a class="client-db-btn client-db-btn-close"> x </a>
				</div>
				<div class="client-db-tree-tittle">
					<h4> Templates </h4>
				</div>
				<div class="client-db-tmp-tree">
				</div>
			</div>
		</div>
	</div>

</template>